.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.marquee-wrapper {
    margin: 2rem 0;
  border-radius: 10px;
}

.marquee-row {
  margin-bottom: 3rem;
}

.company-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 6rem;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
  padding: 1rem 2rem;
  border-radius: 100px;
}

.company-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.company-item span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}
@media screen and (max-width:800px) {
    .rating{
        flex-direction: column;
    }
}