.btn{
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
   white-space: nowrap;
  display: inline-flex;
   align-items: center;
   font-size: 1.6rem;
}
.btn-primary{
  background-color: var(--primary-btn-color);
  color: #fff;
  padding: 1rem 2rem;
}
.btn-title{
  background-color: var(--secondary-btn-color);
  color:blue;
  padding: 1rem 2rem;
}
.btn-secondary{
  background-color: transparent;
  color: var(--primary-color);
  padding: 1rem 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}
.btn-optional{
  background-color: var(--optional-btn-color);
  color: #fff;
  padding: 1rem 2rem;
}
.btn-about{
    align-items: center;
    gap: 0.5rem;
  color: var(--primary-color);
  border-radius: 100px;


}
.btn-primary-about{
  background-color: rgba(255, 217, 0, 0.235);
}
.btn-secondary-about{
  background-color: lavender;
}
.btn-product{
    background-color: transparent;
    color: var(--primary-btn-color);
    border: 1px solid var(--primary-btn-color);
    padding: 1rem 2rem;
}

