.review-grid {
  position: relative;
  margin-top: 5rem;
  padding: 0 2rem; 
}

.review-content {
  padding: 6rem 2rem 6rem 18rem; 
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background-color: rgba(224, 255, 255, 0.582);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.diamond-container {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: -150px;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diamond-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.review-nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-btn {
  border: 1px solid var(--primary-color);
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 1300px) {
.review-content {
    padding: 6rem 2rem 6rem 14rem;
  }
  .diamond-container {
    width: 150px;
    height: 150px;
    left: -0px;
  }
}
@media (max-width: 768px) {
 
  .diamond-container {
   display: none;
  }
  .review-content {
    padding:  2rem;
  }
}
