.team-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-top: 4rem;
}
.team-grid-item{
    text-align: center;
    padding: 1rem;
}
.team-grid-item img{
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
    width: 25rem;
    height: 20rem;
    object-position: 0% 10%;
}
.team-grid-item h3{
    font-size: 2rem;
    font-weight: 600;
}
.career-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color:var(--secondary-bg-color);
    border-radius: 10px;
    margin-top: 5rem;
}
.career-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    gap: 2rem;
}
.btn-carreer{
    font-weight: bold !important;
}
@media screen and (max-width:1000px) {
    .team-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:800px) {
    .team-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .team-grid-item{
        padding: 1rem;
    }   
}
@media screen and (max-width:480px) {
    .team-grid{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .team-grid-item{
        padding: 0.5rem 1rem;
    }
    .career-grid{
        grid-template-columns: 1fr;
    }
    .career-grid-item{
        align-items: center;
        padding: 2rem 1rem;
    }

}