.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}
.about-grid-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5rem 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    gap: 2rem;
}
@media screen and (max-width:800px) {
    .about-grid{
        grid-template-columns: 1fr;
    }   
}