.review-grid {
  position: relative;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.review-content {
  padding: 4rem 2rem;
  padding-left: calc(200px + 3rem); 
  border-radius: 20px;
  background-color: rgba(224, 255, 255, 0.58);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap:7rem;
}
.review-author{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
.review-author-company{
  display: flex;
  justify-content: space-between;
}
.review-logo {
  width: 10rem;
  margin-top: -1rem;
  opacity: 0.85;
}

.diamond-container {
  width: 260px;
  height: 260px;
  position: absolute;
  left: -50px;
  z-index: 2;
}
.diamond-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.play-btn-wrapper {
  position: absolute;
  right: -30px;         
  top: 50%;
  transform: translateY(-50%);
  width: 60px;             
  height: 60px;
  background-color: rgba(224, 255, 255, 0.58);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.play-btn {
  width: 45px;
  height: 45px;
  background:var(--primary-btn-color); 
  color:var(--primary-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.nav-btn {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .diamond-container {
    width: 200px;
    height: 200px;
    left: -50px;
  }

  .review-content {
    padding-left: calc(180px + 2rem); 
  }
}
@media (max-width: 768px) {
  .diamond-container {
    display: none;
  }
  .review-content {
    padding: 2rem;
  }
}

