:root{
  --primary-white:#ffffff;
  --primary-color:#000000;
  --secondary-color:#7E7E7E;
  --secondary-bg-color:rgba(128, 128, 128, 0.119);
  --primary-btn-color:#21a9ff;
  --secondary-btn-color:#e4f1fc;
  --optional-btn-color:#2c60cf;
}
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 10px;
    font-family: "Inter", sans-serif;
}
p{
    font-size: 1.6rem;
      line-height: 1.6;
  color: #666;

}
h1{
    font-size: 3.6rem;
    font-weight: 700;
}
h2{
    font-size: 3rem;
    font-weight: 700;
}
h3{
    font-size: 2.4rem;
    font-weight: 700;
}
h4{
    font-size: 2rem;
    font-weight: 700;
}
h5{
    font-size: 1.8rem;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img,video{
  width: 100%;
}
section{
    padding: 5rem 0;
}
header {
  width: 100%;
  padding: 1rem;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.whitespace{
  white-space: nowrap;
}
.title{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem;
  text-align: center;
  margin: 0 auto;
}
.title p{
  max-width: 500px;
}
.span-color{
  color: var(--primary-btn-color);
}

@media screen and (max-width:800px) {
    section{
        padding: 3rem 0;
    }
    p{
      font-size: 2rem;
    }
}
@media screen and (max-width:480px) {
    section{
        padding: 2rem 0;
    }
    p{
      font-size: 1.6rem;

    }
}