nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.mobile-nav-menu {
    display: none;
}
.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-menu {
    display: flex;
    gap: 1.5rem; 
}
.nav-menu li{
    font-size: 1.6rem;
}
.nav-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-icons {
    display: none;

}
.close{
    color: #eb648c;
}
.nav-brand{
    width: 8rem;
}

@media (max-width: 1000px) {
.menu-icons{
    display: block;
     font-size: 2.5rem;
    cursor: pointer;
}
    .nav-menu {
        display: none;
    }
    .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        color: var(--primary-white);
    }
    .mobile-nav-menu a {
        font-size: 1.6rem;
        color:var(--primary-color);
        text-decoration: none;
    }
    .right {
       width: 25rem;
        height: 100vh;
        background-color: #d7d4ed;
        position: fixed;
        top: 0;
        right: -30rem;
        flex-direction: column;
        transition: all 650ms ease-in-out;
        z-index: 10;
    }
    .right.active {
        right: 0;
    }
    .nav-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }
}