.footer {
  width: 100%;
  background: #f4f4f4;
  padding: 4rem;
}
.footer-top{
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.footer-logo {
    width: 100px;
  margin-bottom: 20px;
}
.footer-social a {
  margin-right: 15px;
  font-size: 2rem;
}
.footer-top-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-language select {
  margin-top: 2rem;
  padding: 1rem;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
}
.footer-grid-column h4{
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.footer-grid-column li{
  font-size: 1.5rem;
  color:rgba(0, 0, 0, 0.731);
  cursor: pointer;
}
.footer-bottom{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.newsletter{
  margin-top: 4rem;
}
.newsletter-input{
  display: flex;
  margin-top: 1.5rem;
}
.newsletter-input input{
  padding: 1.2rem 1.6rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}
.newsletter-input button {
  padding: 1rem 2rem;
  border: none;
  background: var(--primary-color);
  color: var(--primary-white);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
} 

.footer-copy {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  color: #666;
}

@media screen and (max-width:800px) {
  .footer-top{
    grid-template-columns: 1fr 2fr;
  }
  .footer-grid{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 600px) {
  .footer-top {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .footer-grid{
    gap: 3rem;
  }
  .footer-top
  .newsletter-input {
    flex-direction: column;
  }

  .newsletter-input input,
  .newsletter-input button {
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
  }
}
@media (max-width:400px) {
  .footer-grid{
    grid-template-columns:1fr 1fr;
    gap: 2rem;
  }
}