nav {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem 0;
}

.nav-brand {
    width: 10rem;
}
.menu-icons {
    display: none; 
}
.close i {
    color: #eb648c;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    padding: 1.2rem 1.5rem;
    border-radius: 15px;
    font-size: 1.5rem;
}
.whitespace {
    white-space: nowrap;
}
.btn-header{
    font-size: 1.6rem;
}
@media screen and (max-width:1024px) {
     nav{
        justify-content: space-between;
    }
    .nav-buttons{
        display: none;
    }
    
}
@media screen and (max-width: 800px) {
   
     header {
        height: auto; 
    }
    .menu-icons {
        display: block;
        font-size: 3.5rem;
        cursor: pointer;
    }
    .nav-cta{
        display: none;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    .nav-list{
        width: 25rem;
        height: 100vh;
        background-color: #d7d4ed;
        position: fixed;
        top: 0;
        right: -30rem;
        flex-direction: column;
        transition: all 650ms ease-in-out;
        z-index: 10;
    }
    .nav-list.active{
        right: 0;
    }
    .nav-buttons{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
 
    .close {
        position: absolute;
        top: 1rem;
        left: 1.5rem;
    }
    .nav-item {
        margin: 1.5rem 0;
        padding: 0;
        border-radius: 0;
    }
    .nav-link.active{
        background: transparent;
        color:#2a2f8f;          
    }
    .nav-link {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.7);
        background: transparent;
    }
}