.edu-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.heading-wrapper {
  display: flex;
  align-items: center;
  gap: 12rem;
  flex-wrap: wrap; 
  justify-content: center;
}

.heading-image {
  width: 40px; 
  height: 40px;
}

.dashboard-content {
    display: flex;
    align-items: end;
    gap: 3rem;
    flex-wrap: wrap;
}
.dashboard-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
  border-radius: 50px;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: conic-gradient(#28a745 0% 75%, #e6e6e6 75% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}

.dashboard-circle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white; 
}

.dashboard-circle span {
  position: relative;
  z-index: 1;
}
.educare-p{
    max-width: 600px;
    margin-right:20rem;
}

@media (max-width: 1024px) {
    .dashboard-content{
        flex-direction: column;
        align-items: center;
    }
    .educare-p{
        margin: 0rem;
    }
  .heading-wrapper {
    gap: 6rem; 
  }
}

@media (max-width: 768px) {
  .heading-wrapper {
    gap: 2rem;
  }

  .dashboard-container {
    padding: 1rem;
    gap: 0.5rem;
  }
}
